.grid {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.item {
  width: 33%;
}

.itemWrapper {
  padding: 0 10px 20px;
}

@media(max-width: 768px) {
  .item {
    width: 50%;
  }
}

@media(max-width: 425px) {
  .item {
    width: 100%;
  }
}
