.image {
  max-width: 100%;
}

.name {
  font-weight: bold;
}

.species {
  font-style: italic;
}

.wishListStar {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.wishListStarSelected {
  color: #ffe600
}
